@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
body {
    /* Font */
    font-family: "Nunito Sans", sans-serif;
    /*https://unsplash.com/photos/v7daTKlZzaw*/
    background-image: url("/background.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.9);
}